@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;

}

.form-container {
    width: 360px;

    height: 100%;

}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.success-message {
    font-family: "Roboto", sans-serif;
    background-color: #3f89f8;
    padding: 15px;
    color: white;
}

.form-field {
    margin: 10px 0 10px 0;
    padding: 15px;
    font-size: 16px;
    border: 0;
    font-family: "Roboto", sans-serif;
}

span {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: red;
    margin-bottom: 15px;
}

input {
    background: #f2f2f2;

}


.titulo {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 0px;
    height: 35px;
    border-left-width: 10px;
}
.test{
margin-top: 0px;
}

.error {
    border-style: solid;
    border: 2px solid #ffa4a4;
}

button {
    background: #545658;
    color: white;
    cursor: pointer;
    flex: 1;

}

button:disabled {
    cursor: default;
}

.footer-content {
    position: absolute;
    bottom: 0;
    background-color: #545658;
    color: #FFF;
    width: 100%;
    height: 40px;    
    text-align: center;
    line-height: 100px;
}

.align-left{
    width: 150px;
    display: inline-block;
}

.margin{
    margin-bottom: 8px;
    background: #7d7f81
}